<footer th:fragment="footer" class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <p> 2020 &copy; Copyright. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Scripts -->
<div th:fragment="scripts">
    
    <!-- JQuery -->
    <script th:src="@{/plugins/jquery/jQuery-2.1.4.min.js}"></script>
    <!-- Tether for Bootstrap -->
    <script th:src="@{/js/tether.min.js}"></script>
    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Bootstrap Validator -->
    <script th:src="@{/js/bootstrapValidator.min.js}"></script>
    <!-- Sweet Alert JavaScript -->
    <script th:src="@{/js/sweetalert.min.js}"></script>
    <!-- Datatable js -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
    <!-- Datatable Buttons -->
    <script th:src="@{/plugins/datatables/dataTables.buttons.min.js}"></script>
    <script th:src="@{/plugins/datatables/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables/jszip.min.js}"></script>
    <script th:src="@{/plugins/datatables/pdfmake.min.js}"></script>
    <script th:src="@{/plugins/datatables/vfs_fonts.js}"></script>
    <script th:src="@{/plugins/datatables/buttons.html5.min.js}"></script>
    <script th:src="@{/plugins/datatables/buttons.print.min.js}"></script>
    <script th:src="@{/plugins/datatables/buttons.colVis.min.js}"></script>
    <script th:src="@{/plugins/datatables/buttons.colVis.min.js}"></script>
    <script th:src="@{/plugins/jquery-datatables-checkboxes/js/dataTables.checkboxes.js}"></script>
    <!-- Core JavaScript -->
    <script th:src="@{/js/core.js}"></script>

</div>